<div ng-app="MoviesApp" ng-controller="EditMovieController">
    <h2>Muokkaa elokuvaa</h2>  
    <form name="editForm">
        <label>nimi</label> 
        <input type="text" ng-model="editedMovie.title" name="mTitle" required>
        <label>ohjaaja</label> 
        <input type="text" ng-model="editedMovie.director" name="mDirector" required> 
        <label>vuosi</label> 
        <input type="text" ng-model="editedMovie.release" name="mRelease" required ng-pattern="/^(19|20)\d{2}$/">    
        <label>kuvaus</label> 
        <input type="text" ng-model="editedMovie.description" name="mDescription" required>
        <input type="submit" value="Muokkaa" ng-click="editMovie(editedMovie)" ng-disabled="editForm.$invalid">
        <div ng-show="editForm.mTitle.$dirty">
            <span ng-show="editForm.mTitle.$error.required">Nimi puuttuu!</span></div>
        <div ng-show="editForm.mDirector.$dirty">
            <span ng-show="editForm.mDirector.$error.required">Ohjaaja puuttuu!</span></div>
        <div ng-show="editForm.mRelease.$dirty && editForm.mRelease.$invalid">
            <span ng-show="editForm.mRelease.$error.required">Julkaisuvuosi tulee olla välillä 1900-2099!</span></div>
        <div ng-show="editForm.mDescription.$dirty">
            <span ng-show="editForm.mDescription.$error.required">Kuvaus puuttuu!</span></div>
    </form>
</div>