<div ng-app="MoviesApp" ng-controller="ListMoviesController">
    <h2>Elokuvat</h2>
    <table style="table-layout: fixed;width:100%;text-align: left">
        <tr>
            <th>nimi</th><th>ohjaaja</th><th>julkaisuvuosi</th><th></th>
        </tr>
        <tr ng-repeat="movie in movies">
            <td><a ng-href="#/movies/{{movie.$id}}">{{movie.title}}</a></td> 
            <td>{{movie.director}}</td> 
            <td>{{movie.release}}</td> 
            <td><input type="submit" value="Delete" ng-click="removeMovie(movie)" /></td>
        </tr>
    </table>

</div>

<a href="#/movies/new">Lisää elokuva</a>
