<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="bootstrap-3.3.2-dist/css/bootstrap.min.css">
        <title>Elokuvakirjasto</title>
    </head>
    <body ng-app="MoviesApp">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <h4 class="navbar-text navbar-left">Elokuvakirjasto</h4>
                <a class="navbar-text navbar-left" href="#/movies">Elokuvat</a>
                <a style="margin-top: 8px;" class="btn btn-default navbar-right" ng-if="!userLoggedIn" href="#/login">Kirjaudu sisään</a>
                <button style="margin-top: 8px;" class="btn btn-default navbar-right" ng-click="logOut()" ng-if="userLoggedIn">Kirjaudu ulos</button>
            </div>
        </nav>
        <div style="margin-left:15px;margin-right: 15px" ng-view>

        </div>


        <!-- Hyödyllisiä kirjastoja -->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>
        <script src="bower_components/angularfire/dist/angularfire.min.js"></script>


        <!-- Linkitä omat tiedostosi tähän (huomaa, että polun juuri on web-kansio!) -->
        <script src="app/app.js"></script>    
        <script src="app/services/firebase_service.js"></script>
        <script src="app/services/api_service.js"></script>
        <script src="app/services/authentication_service.js"></script>
        <script src="app/controllers/list_movies_controller.js"></script>
        <script src="app/controllers/add_movies_controller.js"></script>
        <script src="app/controllers/show_movie_controller.js"></script>
        <script src="app/controllers/edit_movie_controller.js"></script>
        <script src="app/controllers/user_controller.js"></script> 
        <script src="app/controllers/run.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    </body>
</html>